.footer {
  color: white;
  background-color: #3b005e;
  min-height: 20px;
  font-size: 16px;
  padding: 30px 0;

  .image svg {
    height: 35px;
  }

  .container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  address {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 70px;
    font-family: var(--font-light);
    line-height: 1.5;

    span {
      font-family: var(--title-font);
    }
  }

  .socials {
    font-size: 0;
    display: flex;

    a {
      cursor: pointer;
    }

    a:hover {
      position: relative;
      top: -1px;
    }

    svg {
      width: 40px;
      height: 40px;
    }
  }
}

@media (max-width: 800px) {
  .footer address {
    gap: 50px;
  }
}

@media (max-width: 650px) {
  .footer address {
    gap: 30px;
  }

  .footer address :first-child {
    margin-right: 30px;
  }
}

@media (max-width: 576px) {
  .footer .container {
    padding: 0 20px;
  }

  .footer {
    font-size: 14px;
  }

  .footer .container {
    gap: 20px;
  }
}

@media (max-width: 490px) {
  .footer .socials {
    margin-top: 10px;
  }

  .footer .socials svg {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 400px) {
  .footer .image svg {
    width: 270px;
    height: 30px;
  }

  .footer address {
    gap: 20px;
  }
}