.negatives {
  max-width: 1000px;
  margin-top: 10px;

  li:not(:last-child) {
    border-bottom: 1px solid #989898;
  }

  li {
    display: flex;
    align-items: center;
    padding: 20px 0;


    p {
      display: inline-block;
      font-size: 24px;
    }

    span {
      width: 40px;
      flex-shrink: 0;
      font-size: 36px;
      color: #801549;
      font-family: var(--font-light);
    }
  }
}


.positive {
  background-image: url('./img/advantages-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e0eaf4;
  background-size: cover;
  color: white;
  font-size: .55rem;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  h3 {
    color: white;
  }

  svg {
    max-width: 80px;
    height: 70px;
    opacity: .9;
  }

  p {
    margin-top: 25px;
  }
}

.positive-wrapper {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.positive-item {
  max-width: 380px;
  padding: 30px;
  text-align: center;
  width: 25%;

}

.positive-item:nth-child(-n+4) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.positive-item:not(:nth-child(4)):not(:nth-child(8)) {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

@media (max-width: 1200px) {
  .positive {
    font-size: 18px;
  }

  .positive svg {
    height: 60px;
  }

  .positive p {
    margin-top: 15px;
  }
}

@media (max-width: 992px) {
  .positive {
    font-size: 16px;
  }

  .positive-item {
    padding: 25px;
  }
}

@media (max-width: 880px) {
  .positive {
    font-size: 15px;
  }

  .positive svg {
    height: 50px;
  }
}

@media (max-width: 835px) {
  .positive-item {
    width: 50%;
  }

  .positive-item:not(:nth-child(4)):not(:nth-child(8)) {
    border-right: none;
  }

  .positive-wrapper .positive-item:nth-child(odd) {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }

  .positive-item:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .positive-item:nth-child(7) {
    border-bottom: 0;
  }
}

@media (max-width: 768px) {

  .negatives li p {
    font-size: 20px;
  }
}

@media (max-width: 490px) {

  .negatives li p {
    font-size: 18px;
  }

  .positive-item {
    padding: 25px 20px;
  }

  .positive svg {
    height: 40px;
  }
}

@media (max-width: 400px) {

  .advantages h3 {
    font-size: 21px;
  }

  .negatives li p {
    font-size: 16px;
  }

  .positive {
    font-size: 13px;
  }
}

@media (max-width: 350px) {
  .positive {
    font-size: 12px;
  }

  .positive-item {
    padding: 20px 15px;
  }
}