.made-in-kaz {
  background-color: #e6f7f9;

  .container {
    padding: 30px 40px;
    max-width: 1550px;
  }

  .image {
    min-width: 130px;
    margin-right: 1.5rem;
  }

  .text {
    font-family: var(--font-light);
    font-size: 32px;
    color: #808080;
  }
}