.offer {
  .container {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 1550px;
  }

  .offer--text {
    padding: 40px;

    h3 {
      color: white;
      font-size: 1rem;
      font-family: var(--font-light);
      text-align: left;
      line-height: 1.2;
    }

    button {
      margin-top: 25px;
      color: var(--corp-violet);
      background-color: white;
    }
  }

  .offer--image {
    align-self: flex-end;
    min-height: 100px;
    margin-right: 20px;
  }

  .offer--image,
  img {
    width: 250px;
    flex-shrink: 0;

    img {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 2;
    }
  }

}

@media (max-width: 768px) {

  .offer .offer--image,
  .offer img {
    width: 225px;
    margin-right: 0;
  }

  .offer .offer--text {
    padding: 20px 20px 20px 0;
  }

}

@media (max-width: 650px) {

  .offer .offer--image,
  .offer img {
    width: 180px;
  }

  .offer .offer--text h3 {
    font-size: 24px;
  }
}

@media (max-width: 576px) {

  .offer .offer--image,
  .offer img {
    width: 160px;
  }

}

@media (max-width: 490px) {

  .offer .offer--text h3 {
    font-size: 22px;
  }

  .offer .offer--image,
  .offer img {
    width: 140px;
  }

  .offer .offer--image {
    position: absolute;
    right: -40px;
  }

  .offer .offer--text {
    padding-right: 60px;
  }

  .offer {
    overflow: hidden;
  }
}

@media (max-width: 400px) {


  .offer .offer--image,
  .offer img {
    width: 130px;
  }
}