.our-production ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;

  h6 {
    color: var(--corp-violet);
    font-family: var(--title-font);
    font-size: .65rem;
  }

  li {
    max-width: 480px;
    display: flex;
    padding: 20px;
    box-shadow: 1px 1px 6px 1px rgba(15, 20, 24, 0.15);
    border-radius: 10px;
  }

  img {
    display: block;
    width: 180px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--corp-violet);
  }

  .our-production--description {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .text {
    margin-top: 10px;
    font-size: 16px;
  }

  .quantity {
    margin-top: 10px;
    font-size: 14px;
    font-family: var(--font-light);
    color: #666666;
  }
}

.our-production h2 {
  padding: 30px;
}