.reviews--block {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 10px;
}

.reviews--item {
  max-width: 200px;

  .reviews--item__image {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 1px 6px 1px rgba(29, 29, 29, 0.11);
    transition: transform .5s;
  }

  .reviews--item__image:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  p {
    text-align: center;
    color: #666666;
  }
}

@media (max-width: 768px) {
  .reviews--block {
    gap: 30px;
  }

  .reviews--item {
    max-width: 180px;
  }
}

@media (max-width: 576px) {
  .reviews--block {
    flex-wrap: wrap;
  }
}

@media (max-width: 490px) {
  .reviews--item {
    max-width: 140px;
  }

  .reviews--block {
    gap: 20px;
  }

}