@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.woff2") format("woff2"), url("./fonts/Inter-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "InterSemiBold";
  src: url("./fonts/Inter-SemiBold.woff2") format("woff2"), url("./fonts/Inter-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "InterLight";
  src: url("./fonts/Inter-Light.woff2") format("woff2"), url("./fonts/Inter-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-size: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.inputclass::-webkit-input-placeholder {
  text-align: center;
}

.inputclass:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

.inputclass::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

.inputclass:-ms-input-placeholder {
  text-align: center;
}

address {
  font-style: normal;
}

:root {
  --font: "Inter", sans-serif;
  --font-light: "InterLight", sans-serif;
  --title-font: "InterSemiBold", sans-serif;
  --corp-violet: #4f007d;
  --violet: #660066;
  --blue: #34226B;
  --p: 24px;
  font-size: 36px;
}

body {
  min-width: 320px;
  max-width: 100%;
  font-family: var(--font);
  color: black;
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: inherit;
}

button {
  background-color: transparent;
  position: relative;
  font-family: var(--font);
}

.button {
  transition: all 0.25s linear;
  border-radius: 8px;
  font-size: 0.5rem;
  display: inline-block;
  padding: 12px;
  color: white;
  cursor: pointer;
}

.button:hover {
  box-shadow: 1px 1px 5px 1px rgba(15, 20, 24, 0.35);
  top: -1px;
}

.button-light {
  background-color: #E5D9EC;
  color: var(--corp-violet);
}

.button-light:hover {
  box-shadow: 1px 1px 1px 1px rgba(15, 20, 24, 0.05);
}

h2 {
  font-size: 1.2rem;
  font-family: var(--title-font);
  text-align: center;
}

h3 {
  font-size: 1.1rem;
  font-family: var(--title-font);
  color: var(--violet);
  text-align: center;
}

.full-warpper {
  width: 100%;
}

.warpper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1660px;
  padding: 20px 30px;
  margin: 0 auto;
}

.overflow-body {
  width: 100%;
  height: 100%;
  background-color: rgba(15, 20, 24, 0.5);
  position: fixed;
  top: 0;
  left: 0;
}

.padding {
  padding: 20px;
}

.mr-m {
  margin-right: 20px;
}

.gradient {
  background: rgb(115, 0, 102);
  background: linear-gradient(90deg, rgb(115, 0, 102) 0%, rgb(102, 0, 102) 50%, rgb(79, 0, 125) 100%);
}

.df--js-sb--ai-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.df--fd-c {
  display: flex;
  flex-direction: column;
}

.df--ai-c--jc-c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.df--ai-c {
  display: flex;
  align-items: center;
}

.m-0-a {
  margin: 0 auto;
}

.pos-s {
  position: sticky;
  top: 0;
}

.pos-r {
  position: relative;
}

.mt-1-5 {
  margin-top: 1.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-0-25 {
  margin-top: 0.25rem;
}

.mt-0-5 {
  margin-top: 0.5rem;
}

.mt-0-75 {
  margin-top: 0.75rem;
}

.mt-10px {
  margin-top: 10px;
}

.fz-0 {
  font-size: 0;
}

.violet {
  background-color: var(--violet);
}

.corp-violet {
  background-color: var(--corp-violet);
}

.blue {
  background-color: var(--blue);
}

.white {
  color: white;
}

.baner {
  max-width: 1600px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  :root {
    font-size: 32px;
  }
}
@media (max-width: 992px) {
  :root {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  :root {
    font-size: 28px;
  }
}
@media (max-width: 576px) {
  :root {
    font-size: 24px;
    --p: 18px;
  }
  .button {
    font-size: 14px;
  }
  .container {
    padding: 20px;
  }
}
@media (max-width: 350px) {
  .button {
    font-size: 13px;
  }
}
.header {
  background-color: rgba(255, 255, 255, 0.96);
  z-index: 10;
}
.header .header-button {
  margin-right: 20px;
}
.header img {
  max-width: 200px;
  height: auto;
  min-width: 150px;
}
.header svg {
  width: 45px;
  height: 45px;
}
.header .logo {
  margin-right: 20px;
}
.header .header-buttons {
  position: relative;
  text-align: center;
}

@media (max-width: 1200px) {
  .header img {
    max-width: 180px;
    height: auto;
    min-width: 150px;
  }
  .header svg {
    width: 40px;
    height: 40px;
  }
  .header .header-buttons {
    position: relative;
    text-align: center;
  }
}
@media (max-width: 992px) {
  .header img {
    max-width: 150px;
    min-width: auto;
  }
  .header .container {
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .header img {
    max-width: 120px;
  }
  .header svg {
    width: 35px;
    height: 35px;
  }
  .header .header-button {
    margin-right: 15px;
  }
  .header .button-price {
    display: none;
  }
}
@media (max-width: 650px) {
  .header .container {
    padding: 20px;
  }
}
@media (max-width: 576px) {
  .header .button {
    font-size: 0.55rem;
  }
  .header .button-download {
    display: none;
  }
}
@media (max-width: 490px) {
  .header .container {
    padding: 15px 20px;
  }
}
@media (max-width: 400px) {
  .header img {
    max-width: 100px;
  }
  .mr-m {
    margin-right: 15px;
  }
}
@media (max-width: 350px) {
  .header img {
    max-width: 80px;
  }
}
.about-us {
  background-image: url("./img/doctors-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e0eaf4;
  background-size: cover;
  padding: 30px 0px;
}
.about-us .logo {
  max-width: 300px;
  margin: 0 auto;
}
.about-us p {
  font-size: var(--p);
  text-align: center;
}

.about-us--title {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-us--descr {
  background-color: rgba(255, 255, 255, 0.45);
}

@media (max-width: 768px) {
  :root {
    --p: 18px;
  }
  .about-us h2 {
    font-size: 1rem;
  }
  .about-us--title .logo {
    width: 250px;
  }
}
@media (max-width: 490px) {
  .about-us {
    padding: 20px 0;
  }
}
@media (max-width: 576px) {
  :root {
    --p: 16px;
  }
  .about-us--title .logo {
    width: 200px;
  }
}
@media (max-width: 490px) {
  .about-us--title .logo {
    width: 160px;
  }
}
@media (max-width: 350px) {
  .about-us h2 {
    font-size: 20px;
  }
}
.footer {
  color: white;
  background-color: #311B4C;
  min-height: 20px;
  font-size: 16px;
  padding: 30px 0;
}
.footer .image svg {
  height: 35px;
}
.footer .container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer address {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 70px;
  font-family: var(--font-light);
  line-height: 1.5;
}
.footer address span {
  font-family: var(--title-font);
}
.footer .socials {
  font-size: 0;
  display: flex;
}
.footer .socials a {
  cursor: pointer;
}
.footer .socials a:hover {
  position: relative;
  top: -1px;
}
.footer .socials svg {
  width: 40px;
  height: 40px;
}

@media (max-width: 650px) {
  .footer address {
    gap: 30px;
  }
  .footer address :first-child {
    margin-right: 30px;
  }
}
@media (max-width: 576px) {
  .footer .container {
    padding: 0 20px;
  }
  .footer {
    font-size: 14px;
  }
  .footer .container {
    gap: 20px;
  }
}
@media (max-width: 400px) {
  .footer .image svg {
    width: 270px;
    height: 30px;
  }
  .footer address {
    gap: 20px;
  }
}
.our-production ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}
.our-production ul h6 {
  color: var(--corp-violet);
  font-family: var(--title-font);
  font-size: 22px;
}
.our-production ul li {
  max-width: 480px;
  display: flex;
  padding: 20px;
  box-shadow: 1px 1px 6px 1px rgba(15, 20, 24, 0.15);
  border-radius: 10px;
}
.our-production ul img {
  display: block;
  width: 180px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--corp-violet);
}
.our-production ul .our-production--description {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.our-production ul .text {
  margin-top: 10px;
  font-size: 16px;
}
.our-production ul .quantity {
  margin-top: 10px;
  font-size: 14px;
  font-family: var(--font-light);
  color: #666666;
}

.our-production h2 {
  padding: 30px;
}

@media (max-width: 1080px) {
  .our-production ul li {
    max-width: 440px;
  }
  .our-production ul img {
    width: 160px;
  }
}
@media (max-width: 992px) {
  .our-production ul {
    gap: 25px;
  }
  .our-production ul li {
    max-width: 100%;
    width: 100%;
  }
  .our-production ul img {
    width: 140px;
  }
}
@media (max-width: 650px) {
  .our-production .container {
    padding-top: 0;
  }
}
@media (max-width: 490px) {
  .our-production h2 {
    padding: 25px;
  }
  .our-production ul h6 {
    font-size: 20px;
  }
}
@media (max-width: 460px) {
  .our-production ul h6 {
    font-size: 18px;
  }
  .our-production ul img {
    width: 120px;
  }
  .our-production ul .text {
    margin-top: 10px;
    font-size: 14px;
  }
  .our-production ul .quantity {
    font-size: 12px;
  }
}
@media (max-width: 420px) {
  .our-production h2 {
    padding: 20px;
  }
  .our-production ul img {
    max-width: 100px;
  }
  .our-production ul .our-production--description {
    margin-left: 15px;
  }
}
@media (max-width: 350px) {
  .our-production ul h6 {
    font-size: 16px;
  }
  .our-production ul .text {
    font-size: 13px;
  }
  .our-production ul .quantity {
    font-size: 11px;
  }
  .our-production ul img {
    max-width: 80px;
  }
}
.offer .container {
  padding-top: 0;
  padding-bottom: 0;
  max-width: 1550px;
}
.offer .offer--text {
  padding: 40px;
}
.offer .offer--text h3 {
  color: white;
  font-size: 1rem;
  font-family: var(--font-light);
  text-align: left;
  line-height: 1.2;
}
.offer .offer--text button {
  margin-top: 25px;
  color: var(--corp-violet);
  background-color: white;
}
.offer .offer--image {
  align-self: flex-end;
  min-height: 100px;
  margin-right: 20px;
}
.offer .offer--image,
.offer img {
  width: 250px;
  flex-shrink: 0;
}
.offer .offer--image img,
.offer img img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

@media (max-width: 768px) {
  .offer .offer--image,
  .offer img {
    width: 225px;
    margin-right: 0;
  }
  .offer .offer--text {
    padding: 20px 20px 20px 0;
  }
}
@media (max-width: 650px) {
  .offer .offer--image,
  .offer img {
    width: 180px;
  }
  .offer .offer--text h3 {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .offer .offer--image,
  .offer img {
    width: 160px;
  }
}
@media (max-width: 490px) {
  .offer .offer--text h3 {
    font-size: 22px;
  }
  .offer .offer--image,
  .offer img {
    width: 140px;
  }
  .offer .offer--image {
    position: absolute;
    right: -40px;
  }
  .offer .offer--text {
    padding-right: 60px;
  }
  .offer {
    overflow: hidden;
  }
}
@media (max-width: 400px) {
  .offer .offer--image,
  .offer img {
    width: 130px;
  }
}
.made-in-kaz {
  background-color: #e6f7f9;
}
.made-in-kaz .image-h {
  display: none;
}
.made-in-kaz .made-in-kaz-wrapper {
  display: flex;
  align-items: center;
}
.made-in-kaz .container {
  padding: 30px 40px;
  max-width: 1550px;
}
.made-in-kaz .image {
  min-width: 130px;
  margin-right: 1.5rem;
}
.made-in-kaz .text {
  font-family: var(--font-light);
  font-size: 32px;
  color: #808080;
}

@media (max-width: 1200px) {
  .made-in-kaz .text {
    font-size: 28px;
  }
}
@media (max-width: 992px) {
  .made-in-kaz .text {
    font-size: 24px;
  }
  .made-in-kaz .image {
    min-width: 100px;
    margin-right: 1.25rem;
  }
}
@media (max-width: 768px) {
  .made-in-kaz .text {
    font-size: 22px;
  }
}
@media (max-width: 650px) {
  .made-in-kaz .text {
    font-size: 20px;
  }
  .made-in-kaz .image {
    min-width: 100px;
  }
  .made-in-kaz .container {
    padding: 20px;
  }
  .made-in-kaz .image {
    margin-right: 20px;
  }
}
@media (max-width: 576px) {
  .made-in-kaz .image {
    min-width: 90px;
  }
  .made-in-kaz .text {
    font-size: 18px;
  }
}
@media (max-width: 490px) {
  .made-in-kaz .made-in-kaz-wrapper {
    flex-direction: column;
  }
  .made-in-kaz .image {
    min-width: 70px;
    margin-right: 0;
  }
  .made-in-kaz .image-v {
    display: none;
  }
  .made-in-kaz .image-h {
    max-width: 260px;
    display: inline-block;
    margin-bottom: 20px;
  }
}
@media (max-width: 400px) {
  .made-in-kaz .image-h {
    max-width: 240px;
    display: inline-block;
    margin-bottom: 20px;
  }
}
.advantages .negatives {
  max-width: 1000px;
  margin-top: 10px;
}
.advantages .negatives li:not(:last-child) {
  border-bottom: 1px solid #989898;
}
.advantages .negatives li {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.advantages .negatives li p {
  display: inline-block;
  font-size: 24px;
}
.advantages .negatives li span {
  width: 40px;
  flex-shrink: 0;
  font-size: 36px;
  color: #801549;
  font-family: var(--font-light);
}
.advantages .positive {
  background-color: #f2f2f2;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.advantages .positive ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.advantages .positive li {
  height: 200px;
  flex-basis: 340px;
  flex-shrink: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 15px;
  font-family: var(--title-font);
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--violet);
  background-image: url("./img/decor.jpg");
  background-position: center;
  background-size: cover;
}

@media (max-width: 1200px) {
  .advantages .positive li {
    font-size: 20px;
    flex-basis: 290px;
    height: 180px;
  }
  .advantages .positive ul {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .advantages .negatives li p {
    font-size: 20px;
  }
}
@media (max-width: 650px) {
  .advantages .positive li {
    font-size: 18px;
    flex-basis: 240px;
    height: 160px;
  }
  .advantages .positive ul {
    gap: 10px;
  }
}
@media (max-width: 576px) {
  .advantages .positive li {
    font-size: 17px;
    flex-basis: 220px;
    height: 140px;
  }
}
@media (max-width: 490px) {
  .advantages .negatives li p {
    font-size: 18px;
  }
  .advantages .positive li {
    font-size: 18px;
    flex-basis: 100%;
    min-height: 90px;
    height: auto;
  }
}
@media (max-width: 400px) {
  .advantages h3 {
    font-size: 21px;
  }
  .advantages .positive ul {
    gap: 10px;
  }
  .advantages .negatives li p {
    font-size: 16px;
  }
  .advantages .positive li {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .advantages .positive li {
    font-size: 15px;
  }
}
.reviews--block {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 5px;
  flex-wrap: wrap;
}

.reviews--item {
  max-width: 200px;
}
.reviews--item .reviews--item__image {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 6px 1px rgba(29, 29, 29, 0.11);
  transition: transform 0.5s;
}
.reviews--item .reviews--item__image:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.reviews--item p {
  text-align: center;
  color: #666666;
}

@media (max-width: 768px) {
  .reviews--block {
    gap: 30px;
  }
  .reviews--item {
    max-width: 160px;
  }
}
@media (max-width: 400px) {
  .reviews--item {
    max-width: 140px;
  }
  .reviews--block {
    gap: 20px;
  }
}
.modal-phone.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out, visibility 0s, top 0.25s linear;
  overflow: auto;
}

.modal-phone {
  transition: opacity 0.5s ease-in-out, visibility 0s 0.5s, top 0.25s linear;
  visibility: hidden;
  opacity: 0;
  max-width: 450px;
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 100;
  border-radius: 8px;
  padding: 25px 25px 15px;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.modal-phone h6 {
  font-size: 0.8rem;
  color: var(--corp-violet);
  font-family: var(--title-font);
  text-align: center;
}

.modal-phone--list {
  margin-top: 10px;
}
.modal-phone--list label {
  cursor: pointer;
  display: block;
  font-size: 20px;
  color: #989898;
  display: flex;
  align-items: center;
}
.modal-phone--list li {
  padding: 22px 10px;
  border-radius: 5px;
  position: relative;
}
.modal-phone--list li:not(:last-child)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid var(--corp-violet);
}
.modal-phone--list li:hover {
  background-color: rgb(247, 247, 247);
}
.modal-phone--list li:hover svg {
  top: 1px;
}
.modal-phone--list svg {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 12px;
  right: 12px;
  opacity: 0.8;
}
.modal-close svg {
  width: 30px;
  height: 30px;
}

.modal-close:hover {
  top: 11px;
  opacity: 1;
}

@media (max-width: 992px) {
  .modal-phone--list label {
    font-size: 18px;
  }
}
@media (max-width: 650px) {
  .modal-phone {
    padding: 16px;
  }
  .modal-phone--list label {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .modal-phone--list label {
    font-size: 15px;
  }
  .modal-phone--list svg {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }
  .modal-phone--list li {
    padding: 20px 5px;
  }
}