@import './fonts.scss';
@import './normalize&zero.scss';
@import './swiper/swiper.scss';
@import './modules-css/fancybox';


:root {
  --font: "Inter", sans-serif;
  --font-light: "InterLight", sans-serif;
  --title-font: "InterSemiBold", sans-serif;
  --corp-violet: #550f81;
  --corp-violet-dark: #4f007d;
  --violet: #660066;
  --blue: #34226B;
  --p: 24px;
  font-size: 36px;
}

body {
  min-width: 320px;
  max-width: 100%;
  font-family: var(--font);
  color: black;
  position: relative;
}

img,
picture {
  width: 100%;
  height: auto;
}

a {
  color: inherit;
}

button {
  background-color: transparent;
  position: relative;
  font-family: var(--font);
}

.button {
  transition: all .25s linear;
  border-radius: 8px;
  font-size: .45rem;
  display: inline-block;
  padding: 12px;
  color: white;
  cursor: pointer;
  position: relative;
}

.button:hover {
  box-shadow: 1px 1px 5px 1px rgba(15, 20, 24, 0.35);
  top: -1px;
}

.button-light {
  background-color: #E5D9EC;
  color: var(--corp-violet)
}

.button-light:hover {
  box-shadow: 1px 1px 1px 1px rgba(15, 20, 24, 0.05);
}

h2 {
  font-size: 1.2rem;
  font-family: var(--title-font);
  text-align: center;
  font-weight: 600;
  color: var(--corp-violet-dark);
}

h3 {
  font-size: 1.1rem;
  font-family: var(--title-font);
  color: var(--violet);
  text-align: center;
  font-weight: 600;
}

.full-warpper {
  width: 100%;
}

.warpper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1660px;
  padding: 15px 30px;
  margin: 0 auto;
}

.overflow-body {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 20, 24, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.padding {
  padding: 20px;
}

.mr-m {
  margin-right: 20px;
}

.gradient {
  background: rgb(115, 0, 102);
  background: linear-gradient(90deg, rgba(115, 0, 102, 1) 0%, rgba(102, 0, 102, 1) 50%, rgba(79, 0, 125, 1) 100%);
}

.df--js-sb--ai-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // flex-wrap: wrap;
}

.df--fd-c {
  display: flex;
  flex-direction: column;
}

.df--ai-c--jc-c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.df--ai-c {
  display: flex;
  align-items: center;
}

.m-0-a {
  margin: 0 auto;
}

.pos-s {
  position: sticky;
  top: 0;
}

.pos-r {
  position: relative;
}

.mt-1-5 {
  margin-top: 1.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-0-25 {
  margin-top: .25rem;
}

.mt-0-5 {
  margin-top: .5rem;
}

.mt-0-75 {
  margin-top: .75rem;
}

.mt-10px {
  margin-top: 10px;
}

.fz-0 {
  font-size: 0;
}

.violet {
  background-color: var(--violet);
}

.corp-violet {
  background-color: var(--corp-violet);
}

.blue {
  background-color: var(--blue);
}

.white {
  color: white;
}

.orange {
  background-color: #F48120;
}

@media (max-width: 1200px) {
  :root {
    font-size: 32px;
  }

}

@media (max-width: 992px) {
  :root {
    font-size: 30px;
  }

}

@media (max-width: 768px) {
  :root {
    font-size: 28px;
  }
}

@media (max-width: 576px) {
  :root {
    font-size: 24px;
    --p: 18px;
  }

  .button {
    font-size: 14px;
  }

  .container {
    padding: 20px;
  }
}

@media (max-width: 350px) {
  .button {
    font-size: 13px;
  }
}

@import './blocks-scss/header';
@import './blocks-scss/main-baner.scss';
@import './blocks-scss/about-us';
@import './blocks-scss/our-production.scss';
@import './blocks-scss/offer';
@import './blocks-scss/made-in-kaz.scss';
@import './blocks-scss/advantages';
@import './blocks-scss/reviews';
@import './blocks-scss/modals';
@import './blocks-scss/footer';